h3.mouseText
.mouseSymbol
.target
  .cir1(data-label="5")
  .cir2(data-label="4")
  .cir3(data-label="3")
  .cir4(data-label="2")
  .cir5(data-label="1")
.infos
  h1.score Score: 0
  h3.explain 重新開始 R , 變換模式 K
