div
  h2.monsterText  Hello<br>There
  h3.opText Ahhhhhh We'll eat U
.monster
  .eye
    .eyeball
  .mouth
.monster.blue
  .eye
    .eyeball
  .mouth  
.pageLoading
  .monster
    .eye
      .eyeball
    .mouth
  .loading
    .bar